<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mt.reginmen.dao.DataMapper">


    <update id="click">
        update data
        set count=count + 1
        where id = #{id}
    </update>


    <select id="findDataByLabel" resultType="com.mt.reginmen.domain.Data">
        select *
        from data
        where labels_ids = #{labels_ids}
    </select>
    <select id="getUserLabel" resultType="java.lang.String">
        select labels_ids
        from user
        where id = #{id}
    </select>

    <select id="findAllData" resultType="com.mt.reginmen.domain.Data">
        SELECT * FROM data ORDER BY RAND()
    </select>

    <select id="findReviewsById" resultType="com.mt.reginmen.domain.Reviews_data">
        select *
        from reviews_data
        where id = #{id}
    </select>
    <select id="findDataByCount" resultType="com.mt.reginmen.domain.Data">
        select *
        from data
        order by count desc limit 8
    </select>
    <select id="getLabelTop3" resultType="java.lang.String">
        select labels_ids from user where age between #{min} and #{max};
    </select>
    <select id="findAllDatas" resultType="com.mt.reginmen.domain.Data">
        select * from data ;
    </select>


</mapper>
